<div id='container'>
  <!-- Your html here -->
  <!-- START SOLUTION -->
  <nav class="navigation">
    <ul>
      <li>
          <a class="selected" href="#/links">Links</a>
      </li>
       <li>
          <a href="#/shorten">Shorten</a>
      </li>
    </ul>
  </nav>
</div>
<input type='text' ng-model='search' placeholder='filter' />
<div class="links">
    <shortened-link link="link" class="fx-zoom-up fx-speed-300 fx-easing-back"ng-repeat="link in data.links | filter:search | orderBy:'created_at'">

      jhjkhjkhjkhj
    </shortened-link>
  <div ui-view></div>

  <!-- END SOLUTION -->
</div>
